<%- include('../partials/new-header') %>

<h1>Edit Post</h2>
<form action="/posts/<%= post.id %>?_method=PUT" method="POST">
    <textarea name="text" placeholder="<%= post.text %>" maxlength="280" rows="5" cols="50"></textarea>
    <br><br>
    <button type="submit">UPDATE</button>
</form>


<%- include('../partials/footer') %>

