@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 13vw;
  margin-right: auto;
  margin-top: -5vh;
  position: fixed;
}


ul {
  list-style-type: none;
  width: 25%;
  height: 100%;
  position: fixed;
  margin-top: 30vh;
}

li i {
  padding-left: 3vw;
}

li a, li p {
  display: block;
  width: 13vw;
  padding-bottom: 1.5vh;
  margin-top: -2.5vh;
  text-align: right;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25vw;
  color: black;
}

#login {
  padding-top: 55vmin;
  text-align: center;
}

.vl {
  border-left: 0.25vw solid black;
  margin-top: 2vh;
  height: 95vh;
  width: 5px;
  left: 20vw;
  position: fixed;
}

main {
  position: relative;
  left: 45vw;
  padding-top: 29vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  left: 22vw;
  top: 1vh;
}

section {
  border: 2px solid black;
  border-radius: 7px;
  width: 30vw;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icons {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.icons button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.post-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 27vw;
  padding-right: 15px;
  padding-left: 15px;
}

.text {
  text-align: center;
  font-size: 1.2vw;
}

.create-post {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1vh;
  margin-right: 1vh;
}

.dropbtn {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 5px;
  z-index: 1;
}

.deleteBtn, .updateBtn {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 6px 8px;
  background-color: lightgray;
  border: none;
}

.deleteBtn:hover, .updateBtn:hover {
  background-color: #38b6ff;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

