<%- include('../partials/new-header') %>

<h1>New Post</h1>
<form action="/posts" method="POST">
    <textarea name="text" placeholder="Speak Your Mind" maxlength="250" rows="5" cols="50"></textarea>
    <br><br>
    <button type="submit">POST</button>
</form>

<%- include('../partials/footer') %>