<%- include('../partials/header') %>

<h2>New Page</h2>
<form action="/posts" method="POST">
    <label>Speak Your Mind:
        <input type="text" name="text">
    </label>
    <button type="submit">POST</button>
</form>

<%- include('../partials/footer') %>